<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="d:\work\log.txt">

	<variable name="defaultLayout" value="${longdate}|${level}|${message:withException=true}" />

	<targets>
		<target name="request-time" xsi:type="File" fileName="d:\work\request-time.log" layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}"/>
		<target name="exeptionsfile" xsi:type="File" fileName="d:\work\nlog_all_exeptions_${shortdate}.log" layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}"/>
		<target name="logfile" xsi:type="File" fileName="d:\work\nlog_all_${shortdate}.log" layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}"/>
		
	</targets>

	<rules>
		
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="UniAPI.*" minlevel="Error" writeTo="exeptionsfile" />
		<logger name="UniAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
	</rules>
</nlog>